.timers_create {
  border: 1px solid whitesmoke;
  box-shadow: 2px 2px whitesmoke;
  padding: 10px;
}
.timers_create .body {
  padding: 5px 0 15px 0
}
.timers_create .details {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}
.timers_create .details .data {
  min-width: 30%;
}
.timers_create .details .data .section, .timers_item .data .section {
  margin: 10px 0;
}
.timers_create .details .button_list {
  margin: 10px 20px;
}
.timers_create .details .button_list p
{
  margin: 0 0 0.2em;
}
.timers_create .details .button_list button {
  margin: 2px;
}
.timers_create label, .timers_item label
{
  font-variant: all-small-caps;
  font-size: 15px;
  font-weight: bold;
}
.timers_create .number, .timers_item .number {
  font-family: monospace;
  font-size: 20px;
  font-weight: 300;
  line-height: 1em;
}
.timers_item {
  position: relative;
  margin-right: 10px;
}
.timers_item .CircularProgress-Bg,
.timers_item .CircularProgress-Fg {
    fill: none;
}
.timers_item .CircularProgress-Bg {
    stroke: #CCC;
}
.timers_item .CircularProgress-Fg {
    transition: stroke-dashoffset .5s ease-in-out;
    stroke: red;
}
.timers_item .CircularProgress-Text {
    font-size: 20px;
    font-weight: 600;
    fill: rgba(0,0,0,0.9);
    transform: translate(0 50%);
}
.timers_item .data {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}
.timers_item .close_icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.timers_liste {
  display: flex;
  flex-direction: row;
}