{{page-title "TimersApp"}}
<NewVersionNotifier
  @updateMessage="A new version was released: {newVersion}"
  @updateInterval={{150000}}
  @showReload={{true}}
/>
<Navbar />
<main>
{{outlet}}
</main>
<footer class="p-2 text-center bg-light">
  <span>&copy; Copyright Bent Bracke 2021</span>
</footer>
<AddToHomescreen />