{{page-title "Timers"}}
<article class="intro">
  Click on the 'Add Timer' button to create a timer or countdown. You can create as many as you like.<br>
</article>
<div class="bootstrapstyles mt-3" >
  <Timers::List />
</div>
{{outlet}}